---
import Layout from "../layouts/Layout.astro";
import PatientList from "../components/PatientList.astro";
import PatientForm from "../components/PatientForm.astro";
import { getPatients } from "../lib/db";

const patients = await getPatients();
---

<Layout title="Sistema de Historia Clínica">
  <div class="flex flex-col max-w-4xl mx-auto gap-8">
    <PatientForm />
    <PatientList patients={patients} />
  </div>
</Layout>
